/* Front-end Legos Workshop with Shay Howe & Darby Frey
======================================================= */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display definitions
======================================================= */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}


/* Base
======================================================= */

body {
  background: #3a3a40;
  font: 16px/22px "Open Sans", Verdana, Helvetica, sans-serif;
  margin: 0;
}

/* Typography
======================================================= */

h1, h2, h3, h4 {
  margin: 0;
}

/* Sizes */

h1,
.h-headline {
  font-size: 21px;
  font-weight: 300;
}
h2,
.h-subheadline {
  font-size: 16px;
}
h3,
.h-byline {
  font-size: 14px;
}
h4,
.h-standfirst {
  font-size: 12px;
}

/* Weights */


h2, h3, h4 {
  font-weight: 400;
}
.h-bold {
  font-weight: 600;
}

/* Links */

a {
  color: #97979a;
  text-decoration: none;
  -webkit-transition: all .1s linear;
     -moz-transition: all .1s linear;
       -o-transition: all .1s linear;
          transition: all .1s linear;
}

/* Lists
======================================================= */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Player
======================================================= */

.player {
  position: relative;
  margin: 66px auto;
  width: 352px;
  z-index: 2;
}

/* Currently playing
======================================================= */

.player-current {
  background: url("../img/brand-new.jpg") 50% 50% no-repeat;
  border-radius: 5px 5px 0 0;
  height: 352px;
  overflow: hidden;
  position: relative;
}

/* Controls
======================================================= */

.controls {
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .5));
  background-image:    -moz-linear-gradient(transparent, rgba(0, 0, 0, .5));
  background-image:      -o-linear-gradient(transparent, rgba(0, 0, 0, .5));
  background-image:         linear-gradient(transparent, rgba(0, 0, 0, .5));
  padding: 44px 20px 22px 20px;
  position: absolute;
  bottom: -110px;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transition: all .18s ease-in-out;
     -moz-transition: all .18s ease-in-out;
       -o-transition: all .18s ease-in-out;
          transition: all .18s ease-in-out;
}
.player-current:hover .controls {
  bottom: 0;
}
.controls li {
  display: inline-block;
  vertical-align: middle;
}
.control {
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;
  margin: 0 8px;
  height: 44px;
  width: 44px;
}
.control:hover {
  background-color: rgba(0, 0, 0, .5);
}
.controls-sm {
  height: 38px;
  width: 38px;
}










.controls-alt {
  background-image: -webkit-linear-gradient(to right, transparent, #fff 20px);
  background-image:    -moz-linear-gradient(to right, transparent, #fff 20px);
  background-image:      -o-linear-gradient(to right, transparent, #fff 20px);
  background-image:         linear-gradient(to right, transparent, #fff 20px);
  background:               linear-gradient(to right, transparent, #fff 20px);
  position: absolute;
  right: -102px;
  top: 22px;
  padding: 17px 0 17px 30px;
  -webkit-transition: all .18s ease-in-out;
     -moz-transition: all .18s ease-in-out;
       -o-transition: all .18s ease-in-out;
          transition: all .18s ease-in-out;
}
.controls-alt li {
  display: inline-block;
  vertical-align: middle;
}
.control-alt {
  border: 2px solid #bfbfbf;
  margin: 0 1px;
  height: 32px;
  width: 32px;
}
.control-alt:hover {
  background-color: transparent;
  border-color: #7c7c87;
}

.flag:hover .controls-alt {
  right: 20px;
}





.control-prev {
  background-image: url("../img/controls/prev.svg");
}
.control-play {
  background-image: url("../img/controls/play.svg");
}
.control-next {
  background-image: url("../img/controls/next.svg");
}
.control-heart {
  background-image: url("../img/controls/star.svg");
}
.control-share {
  background-image: url("../img/controls/share.svg");
}

/* Controls
======================================================= */

.player-title {
  background: #3a3a40;
  color: #fff;
  padding: 21px 20px;
}
.player-title .artist {
  margin-top: 2px;
}

.artist {
  color: #95959a;
}








.songs {
  background: #fff;
  border-radius: 0 0 5px 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.songs > li {
  border-bottom: 1px solid #bfbfbf;
  padding: 22px 20px 21px 20px;
  position: relative;
}
.songs > li:last-child {
  border: none;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


.media {
  display: block;
}

.media,
.media-body {
  overflow: hidden;
}
.media-object {
  float: left;
  margin: 0 20px 21px 0;
}
.media-object img {
  border: 0;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
  display: block;
  height: 66px;
}








.flag {
  display: table;
  overflow: hidden;
  width: 100%;
}

.flag-object,
.flag-body {
  display: table-cell;
  vertical-align: middle;
}




.flag-object {
  padding-right: 21px;
}
.flag-object img {
  border: 0;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
  display: block;
  height: 66px;
}

/*.flag--rev & {
    padding-right: 0;
    padding-left: 10px;
}*/


.flag-body {
  width: 100%;
}



.flag:hover {
  cursor: pointer;
}
.flag-body h3 {
  color: #4c4c53;
}









.cover-background {
  background: url("../img/brand-new.jpg") 50% 50% no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  bottom: 0;
  -webkit-filter: blur(60px);
     -moz-filter: blur(60px);
          filter: blur(60px);
  left: 0;
  position: absolute;
  right: 0;
  opacity: .3;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}